
<script type="text/ng-template" id="group-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
        <div class="panel-heading">
            <h4 class="panel-title" style="color:#fa39c3">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              {{heading}}
            </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" style="text-align: right" ng-transclude></div>
        </div>
    </div>
</script>


<uib-accordion close-others="oneAtATime">
    <uib-accordion-group heading="Add Product" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">

        <div class="add-product">
            <h2>Add Products</h2>
            <form action="">
                <h3>Title: <input type="text" ng-model="product_title"></h3>
                <h3>Description <input type="text" ng-model="product_description"></h3>
                <h3>Price: <input type="text" ng-model="product_price"></h3>
                <h3>Image: <input type="text" ng-model="product_image"></h3>
                <button ng-click="addProduct(product_title, product_description, product_price, product_iamge)">Add Product</button>
            </form>

        </div>
    </uib-accordion-group>
    <uib-accordion-group heading="Update Product">
        <div class="update-product" ng-repeat="product in products">
            <h3>Title: {{product.title}} <input type="text" ng-model="product.title"></h3>
            <h3>Description: {{product.description}} <input type="text" ng-model="product.description"></h3>
            <h3>Price: {{product.price}} <input type="text" ng-model="product.price"></h3>
            <h3>Image: <img ng-src={{product.image}} alt=""> <input type="text" ng-model="product.quantity"></h3>

            <button ng-click="updateProduct(product._id, product.title, product.description, product.price, product.image)">Update Product</button>

        </div>
    </uib-accordion-group>
    <uib-accordion-group heading="Delete Product">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products">
                <td>{{product.title}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td><button ng-click="deleteProduct(product._id)">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </uib-accordion-group>
</uib-accordion>